/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-feb-2019, 13.37.14
    Author     : tss
*/

.pallina {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    animation-name: spostamento;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;

}

@keyframes spostamento{
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 300px;
        top: 0px;
    }
    50% {
        left: 300px;
        top: 400px;
    }
    75% {
        left: 100px;
        top: 40px;
    }

}
.pallina:nth-child(1) {
    background-color: yellow;
    animation-delay: 1s;
}
.pallina:nth-child(2) {
    background-color: red;
    animation-delay: 2s;
}
.pallina:nth-child(3) {
    background-color: blue;
    animation-delay: 3s;
}
.pallina:nth-child(4) {
    background-color: green;
    animation-delay: 4s;
}
.pallina:hover{
    animation-play-state: paused;
    z-index: 0;
}